/*-- scss:rules --*/
.bg-vb-success {
  color: var(--bs-success);
  background-color: rgba(var(--bs-success-rgb), 0.1);
  border-color: rgba(var(--bs-success-rgb), 0.3);
}

.bg-vb-warning {
  color: var(--bs-warning);
  background-color: rgba(var(--bs-warning-rgb), 0.1);
  border-color: rgba(var(--bs-warning-rgb), 0.3);
}