.logocolumn {
  width: 50%;
  padding: 20px;
  display: flex; /* Enables Flexbox layout */
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center; /* Ensures the text is centered */
}

.left-logo {
  float: left;
  margin-left: 0%;
}

.right-logo {
  float:right;
  margin-right: 0%;
}